<div id="archive">
  <%- partial('_partial/post-list', { 
    posts: page.posts, 
    show_years: true, 
    field_sort: theme.archive.sort_updated ? 'updated' : 'date' 
  }) %>
  <%- partial('_partial/pagination') %>
</div>
